* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

.inline-a {
  color: rgb(52, 52, 151);
}

.expandable {
  display: none;
}

.expandable-button {
  padding: 0 0.2rem;
}

.expandable-button::after {
  content: "+";
  font-size: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

.main-container p .expandable-button.expanded::after {
  content: "-";
  vertical-align: middle;
} 

@font-face {
  font-family: jetSet;
  src: url('/font/Jet-Set.ttf');
}

@font-face {
  font-family: jetSetItalic;
  src: url('/font/Jet-Set-Italic.ttf');
}

#img-container {
  width: 100%;
  min-height: 50vh;
  max-height: 600px;
  position: relative;
  overflow: hidden;
}

#img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#main-text {
  font-family: jetSetItalic;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 5.5vw;
  text-align: center;
}

#home, #swagger {
  position: absolute;
  right: 3%;
  top: 3%;
  padding: 0.5rem;
  background: #1ed31e7b;
  border-radius: 10px;
  font-family: jetSet;
  font-size: calc(8px + 1vw);
  text-decoration: none;
  color: #000;
}

#swagger {
  top: 11.5%;
}

#main {
  font-family: jetSet;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5% 0;
}

#main-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-left: 1%;
}

#main-inner > .main-container {
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 30%;
}

.main-container > * {
  padding: 0.2rem;
}

.main-container p {
  max-width: 650px;
}

.main-container ul {
  margin-left: 5%;
}

.code-snippet {
  background: #dddddd;
  padding: 0.2rem 0.3rem;
  margin-left: 0.2rem;
  border-radius: 3px;
  max-width: 700px;
}

footer {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  width: 5%;
  margin: 0 2%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a img {
  width: 100%;
  height: auto;
  min-width: 50px;
}